.body {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 2px;
    padding-right: 2px;
}