/* Grid.css - Used for Grid.js and displaying the map on the website */

.grid-container {
    /* Add any styles for the container div here */
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
}

.grid-container-background {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.grid-container-path {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.grid-container-buildings {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.grid-container-camp{
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

.grid-container-natural {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 4;
}


.grid-container-caves {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 5;
}

.grid-container-test {
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.grid-container-roof{
    position: absolute;
    top: 5vw;
    left: 5vw;
    width: 100vw;
    height: 100vh;
    z-index: 6;
}
  
.grid-row {
    /* Add any styles for the row div here */
    width: 100vw;
    height: 4vw;
}
  
.grid-cell {
    display: inline-block; 
    width: 4vw;
    height: 4vw;
    overflow: hidden;
}

.grid-cell img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.opactity-button {
    background-color: #a8a8a8;
    color: white;
    width: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }