/* HomePage.css */


/*
// To import the font for styling use. 
@font-face {
    font-family: 'FontName';
    src: url('assets/fonts/FontName.otf') format('opentype');
} */

.homepage {
    background-color: #e1e0dc;
    background-image: url("../../assets/homeBackground.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    font-family: "Helvetica", sans-serif;
}

.hero {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: #e1e0dc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero p {
    font-size: 1.1rem;
    color: #e1e0dc;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.hero button {
    background-color: #000000;
    color: #e1e0dc;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-family: "Helvetica", sans-serif;
    text-shadow: 1px 1px 2px rgba(215, 212, 212, 0);
    /* Add a drop shadow */
}

.hero button:hover {
    color: #000000;
    background-color: #e1e0dc;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.gameIdContainer {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.gameIdInput input {
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(43, 43, 43);
    color: white;
    border: 1px solid black;
    font-weight: bold;
}

.gameIdInput input:focus {
    border: 1px solid black;
    outline: none;
    background-color: #333;
}

.gameIdContainer button {
    width: 56px;
    height: 54px;
    border: 1px solid black;
    padding: 2px;
    background-color: rgb(43, 43, 43);
    border: 1px solid black;
    color: rgb(116, 116, 116);
    font-weight: bold;
}

.gameIdContainer button:hover {
    cursor: pointer;
}

.gameIdContainer button:active {
    background-color: #333;
}

.gameIdBody {
    display: flex;
    justify-content: center;
    width: 250px;
    align-items: baseline;
    flex-direction: column;
    padding: 5px;
    height: 200px;
    border-radius: 10px;
}

.gameIdBody h1 {
    float: left;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(116, 116, 116);
}