.sidebar-container {
    z-index: 1005;
}

.sidebar {
    position: absolute;
    left: -80px;
    height: 100%;
    width: 80px;
    transition: left 0.3s ease-in-out;
    z-index: 1004;
    background-color: #1f1f1f;
}

.sidebar-toggle {
    position: absolute;
    right: -60px;
    height: 60px;
    top: 60px;
    width: 60px;
    z-index: 1001;
    transition: left 0.3s ease-in-out;
}

.sidebar-toggle:hover {
    color: #bababa;
}

.config-toggle {
    position: absolute;
    right: -60px;
    height: 60px;
    top: 60px;
    width: 60px;
    z-index: 1001;
    transition: left 0.3s ease-in-out;
}

.config-toggle:hover {
    color: #bababa;
}

.content {
    position: absolute;
    z-index: 1003;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: #040D12;
}

.sidebar.open {
    left: 0;
    z-index: 1003;
}

.bar1,
.bar2,
.bar3 {
    width: 17.5px;
    height: 2.5px;
    background-color: #040D12;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 5.5px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -5.5px) rotate(45deg);
}

.hamburger {
    background-color: var(--frame-color);
    padding: 5px 10px 5px 10px;
    width: 30px;
    height: 23.5px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger:hover {
    transition: .4s ease-in-out;
    cursor: pointer;
    background-color: #a9a9a9;
}

.hamburger:active {
    background-color: #e9e9e0;
}

.large-icon {
    font-size: 40px;
    margin-top: 20px;
    padding: 20px 10px 10px;
    color: var(--frame-color);
    transition: .4s ease-in-out;
}

.large-icon:hover {
    transition: .4s ease-in-out;
    cursor: pointer;
    color: #a9a9a9;
}

.config {
    position: absolute;
    width: 300px;
    left: -300px;
    top: 0px;
    height: 100vh;
    z-index: 1002;
    background-color: white;
    transition: left 0.3s ease-in-out;
}

.config.open {
    left: 80px;
    width: 300px;
}