.body {
    position: absolute;
    padding: 20px;
}

.dropDown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: left;
}

h1 {
    font-size: 1rem;
}

#arrow {
    background-color: rgb(70, 70, 254);
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    width: 20px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#generate {
    background-color: rgb(70, 70, 254);
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.content {
    background-color: white;
    height: 460px;
    width: 300px;
    border-radius: 4px;
}

.slider-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider-component p {
    width: 100px;
    padding: 20px;
    justify-content: left;
    display: flex;
    padding-bottom: 0;
}

.slider {
    width: 260px;
    padding-left: 20px;
}

.formGroup {
    display: flex;
    justify-content: left;
    padding: 20px;
}

.button {
    padding: 20px;
}