:root {
    --frame-color:  #f7f7f2;
    --background-color: #575f39;
} 

.body {
    position: absolute;
    padding: 20px;
    /* text-shadow: 2px 2px 4px rgba(193, 193, 193, 0.8); */
    
}

.overlay-image{
    position: absolute;
    z-index: 1019;
    top: 4vh;
    left: 6vw;
}

.monster-container {
    background-color: var(--frame-color);
    top: 9vh;
    left: 75.5vw;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1010;
    opacity: 1;
}

p{
    margin: 15px 25px;
    font-size: 14px;
    line-height: 1.5;
}

h1{
    font-size: 20px;
    margin: 0px;
}

h2{
    font-size: 16px;
    margin: 2px 2px 22px 2px;
    color: rgb(93, 93, 93);
    font-weight: 500;
}

h3 {
    font-size: 14px;
    display: inline-block;
    margin: 8px 8px 1px 8px; 
  }

  h4 {
    font-size: 14px;
    display: inline-block;
    margin: 0px 12px; 
    font-weight: 500;
    color: rgb(103, 103, 103);
  }

hr {
    border: none; 
    height: 1.5px; 
    background-color: rgb(203, 203, 203); 
    margin: 15px 25px 5px 25px;
}




